body {
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.main {
    /*margin-top: 180px*/
    margin-top: 10px
}

button {
    cursor: pointer;
}

.number {
    text-align: center;
    width: 20px;
    padding: 15px;
}

.number_orders {
    text-align: center;
    width: 20px;
}

.deletElem {
    text-align: center;
    width: 20px;
    padding: 15px;
}

a {
    padding: 15px;
    color: #000000;
    text-decoration: none;
}

.paiting {
    width: 10%
}

.packing {
    width: 10%
}

.nav-first {
    /*position: fixed;*/
    box-shadow: 0 0 5px;
    display: flex;
    justify-content: space-between;
    right: 0;
    left: 0;
    /*background: #d1d1d1;*/
    background: #d1d1d100;
    top: 0;
}

.nav-second {
    /*position: fixed;*/
    box-shadow: 0 5px 5px -5px;
    display: flex;
    justify-content: space-between;
    right: 0;
    left: 0;
    background: #d1d1d100;
    /*background: #f2f2f2;*/
    /*padding: 15px;*/
    top: 0;
    /*margin-top: 60px;*/
}

.nav-third {
    /*position: fixed;*/
    box-shadow: 0 5px 5px -5px;
    display: flex;
    justify-content: space-between;
    right: 0;
    left: 0;
    /*background: #f2f2f2;*/
    background: #d1d1d100;
    /*padding: 15px;*/
    top: 0;
    /*margin-top: 120px;*/
}


.table-href {
    display: block;
}

.inputAdd {
    background-color: #fc9696;
    border-radius: 20px;
    text-align: center;
}

input {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

select {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

pre {
    font-size: 16px;
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.input_js {
    /*width: auto;*/
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 2px;
}

.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

HTML CSSResult Skip Results Iframe
EDIT ON
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(
            90deg, #bcd3ef 0%, #fadbdb 74%);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    width: 50px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    border: none;
    border-radius: 5px;

}

.button-nav-second {
    color: black;
    width: auto;
    height: 50px;
    /*background: #f2f2f2;*/
    background: #d1d1d100;
    font-variant: all-small-caps;
    padding-left: 10px;
    padding-right: 10px;
}

.button-nav-first {
    /*background: #d1d1d1;*/
    background: #d1d1d100;
    color: black;
    width: auto;
    height: 50px;
    font-variant: all-small-caps;
    padding-left: 10px;
    padding-right: 10px;
}

.button-filter {
    color: black;
    background: #ececec;
    width: 30px;
    margin-left: 5px;
}

textarea {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.input-hover:hover {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

button:hover {
    transform: translateY(2px);
    box-shadow: 0px 0px transparent, 0px 5px 10px rgba(0, 0, 0, 0.25);
}

button:focus {
    outline: none;
}

.error-text {
    color: red;
    font-variant: all-small-caps;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

